@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  font-family: "Sofia Sans", sans-serif;
  background-color: rgb(77, 77, 77);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  caret-color: rgba(0, 0, 0, 0);
  box-shadow: 0 10px 20px 5px rgba(17, 17, 17, 0.459);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 86vh;
  transition: width 0.3s ease;
}

#side-container {
  width: 0vh;
  overflow: hidden;
  transition: width 0.3s ease;
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

#side-container h2 {
  font-size: 30px;
  width: 90%;
  display: grid;
  place-items: center;
  height: 40px;
  margin: 0 auto -10px;
  font-weight: 400;
}

#expand-button {
  height: 30%;
  background-color: rgb(95, 95, 95);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vh;
  border-radius: 10px;
  margin-left: 2%;
  transition: box-shadow 0.2s;
}

#expand-button:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.247);
  cursor: pointer;
}

#expand-icon {
  background-image: url("../img/right_arrow.svg");
  background-size: contain;
  width: 100%;
  aspect-ratio: 1;
}

#canvas {
  height: 95%;
  background-color: inherit;
  display: flex;
  align-self: center;
  background-color: rgba(77, 77, 77, 0);
  margin: 2% 0 2% 2%;
  color: #d1d1d1;
}

.main-title {
  font-size: 50px;
  font-weight: bold;
  color: rgb(24, 24, 24);
  width: 350px;
  background-color: rgb(150, 150, 150);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  height: 100px;
  border-radius: 10px;
  caret-color: rgba(0, 0, 0, 0);
  box-shadow: 0 10px 20px 5px rgba(17, 17, 17, 0.459);
}

#info-icon {
  border-radius: 100%;
  background-image: url(../img/info.svg);
  background-size: contain;
  height: 50%;
  aspect-ratio: 1;
  background-color: rgba(77, 77, 77, 0);
  box-shadow: rgba(77, 77, 77, 0) 0 0 5px 2px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

#info-icon:hover {
  cursor: pointer;
  background-color: rgba(77, 77, 77, 0.2);
  box-shadow: rgba(77, 77, 77, 0.3) 0 0 5px 2px;
}

.expanded-main-container {
  width: 140vh !important;
}

.expanded-side-container {
  width: 50vh !important;
  margin-left: 2%;
}

#b {
  resize: none;
  width: 90%;
  height: 50%;
}

.function-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  place-items: center;
  border-radius: 10px;
  width: 50%;
  height: 10%;
  background-color: rgb(95, 95, 95);
  gap: 2%;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.function-button:hover {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.247);
  cursor: pointer;
}

.level-button:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.247);
  cursor: pointer;
}

.side-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.level-button {
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: rgb(95, 95, 95);
}

#levelNum2 {
  font-size: 25px;
  width: 100px;
}

.function-button img {
  width: 25px;
}

.side-item div img {
  height: 100%;
}

.side-item div img:hover {
  cursor: pointer;
}

.footer {
  width: 80%;
  max-width: 1500px;
  height: 100px;
  border-top: rgba(200, 200, 200, 0.7) 1px solid;
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #e4e4e4;
}

.footer-item a {
  color: inherit;
  font-size: 15px;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: white;
}

.footer-item a::after {
  color: inherit;
  text-decoration: inherit;
}

.footer-item img {
  width: 25px;
  margin-right: 5px;
}

#copyright-icon:hover {
  cursor: pointer;
}

.instructions-container {
  z-index: -1;
  opacity: 0;
  position: absolute;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
  caret-color: rgba(0, 0, 0, 0);
  height: 77vh;
  width: 77vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transform: translateX(-2vh);
}

.instructions-line {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin: 40px 0;
}

.instructions-line:first-child {
  margin: 0;
  font-size: 30px;
}

.instructions-line img {
  height: 180%;
}

.showInstructions {
  opacity: 1;
  z-index: 10;
}
